<html>
    <head>
        
    </head>
    <body>
        
        <h1>Hello, {{name}}! You've been here {{views}} times!</h1>
        <form  action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
   
    </body>
</html>