<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <a href="/mygabs">My Gabs </a>
        <h1>Hello, {{name}}! </h1> {{#gabs}}<p>{{description}} </p> <p> Written by: {{author}}</p><a href="/likes/{{id}}">liked by: {{likes.length}} users</a>
         <form  action="/like/{{id}}" method="POST">
            <button type="submit">Like</button>
        </form>
        {{/gabs}}

        <a href='/creategab'> Write New Gab </a>
        <form  action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
   
    </body>
</html>