<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Bahiana|Unica+One|Walter+Turncoat" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="./images/gab.ico" type="image/x-icon">

    <title>Edit Gab</title>
</head>

<body>
    <div class='nav-bar'>
        <div class="nav-bar-item"><a class="swing" href='/dashboard'><img src='../images/gabble.jpeg'></a>
            <div class='display-name'>{{name}}</div>
        </div>
        <div class="nav-bar-item"><a class='nav-bar-a swing' href="/mygabs">My Gabs </a></div>
        <div class="nav-bar-item"> <a class='nav-bar-a swing' href='/creategab'> Write New Gab </a></div>
        <div class="nav-bar-item">
            <form action="/logout" method="POST">
                <button class="swing" type="submit">Logout</button>
            </form>
        </div>
    </div>
    <div class='gab-card-wrapper'>
        <div class='gab-card'>
            {{#errors}}
            <p>{{msg}}</p>
            {{/errors}}
            <form action="/edit/{{gabId}}" method="POST">
                <input class='big-input-field' type="text" name="newContent" placeholder="Write Gab Here:" autofocus>
                <button class='center-button swing' type="submit">Update Gab</button>
            </form>
        </div>
    </div>
</body>

</html>