<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Bahiana|Unica+One|Walter+Turncoat" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="./images/gab.ico" type="image/x-icon">

    <title>Gabble</title>
</head>

<body>
    <div class='card'>
        <div class="title">Welcome to Gabble!</div>
        <div class='icon'></div>

        <div class='login swing'>
            <a href='/login'> Login </a>
        </div>
        <div class='signup swing'>
            <a href='/signup'> Signup </a>
        </div>
    </div>
</body>

</html>