<html>

<head>
<link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div>
        <h1>Welcome to Gabble!</h1>
        <a href='/login'> Login </a>
        <a href='/signup'> Signup </a>
    </div>
</body>

</html>