<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <p>{{gab.description}}</p>
        
        <p>Liked by:</p>
        {{#likes}}
        <p>{{#.}}{{user.dataValues.name}}{{/.}}</p>
        {{/likes}}
    </body>
</html>