<html>
    <head>
        
    </head>
    <body>
        <form method="POST" action="/login">
            <input type="text" name="name" placeholder="Name:" autofocus>
            <input type='password' name='password' placeholder="Password:">
            <button type="submit">Login</button>
        </form>
    </body>
</html>