<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        
        <h1>Hello, {{name}}! </h1>
         {{#gabs}}<p>{{description}} </p> <p> Written by: {{author}}</p><a href="/likes/{{id}}">liked by: {{likes.length}} users</a>
         <form  action="/delete/{{id}}" method="POST">
            <button type="submit">Delete</button>
        </form>
        <form  action="/edit/{{id}}" method="POST">
            <button type="submit">Edit</button>
        </form>
        {{/gabs}}

        <a href='/creategab'> Write New Gab </a>
        <a href="/dashboard"> Dashboard </a>
        <form  action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
   
    </body>
</html>