<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Bahiana|Unica+One|Walter+Turncoat" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="./images/gab.ico" type="image/x-icon">

    <title>Sign Up</title>
</head>

<body>
    <div class='card signup-card'>
        <div class="title">Sign Up</div>
        <div class='msg'>
            {{#errors}} <div class='error'>{{msg}}</div> {{/errors}}<div class='error'> {{unavailable}}</div>
        </div>
        <form method="POST" action="/signup">
        <div id="signup">
            <input class='field 'type="text" name="name" placeholder="Name:" autofocus>
            <input class='field'type='text' name='email' placeholder="Email">
            <input class='field'type='password' name='password' placeholder="Password:">
            <input class='field'type='password' name='confirmPassword' placeholder="Confirm Password:">
        </div>
            <button class='center-button swing' type="submit">Create Account</button>
        </form>
    </div>
</body>

</html>