<html>

<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    {{#errors}}
    <p>{{msg}}</p>
    {{/errors}}
    <p> {{unavailable}}</p>
    <form method="POST" action="/signup">
        <input type="text" name="name" placeholder="Name:" autofocus>
        <input type='text' name='email' placeholder="Email">
        <input type='password' name='password' placeholder="Password:">
        <input type='password' name='confirmPassword' placeholder="Confirm Password:">

        <button type="submit">Create Account</button>
    </form>
</body>

</html>